@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: .5; }
}

.status-online {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.platform-card, .target-card {
  transition: all 0.3s;
}

.platform-card:hover, .target-card:hover {
  transform: scale(1.02);
}
